.searchQueryInput {
  border-radius: var(--ifm-global-radius);
  border: var(--ifm-global-border-width) solid
    var(--ifm-color-content-secondary);
  font-size: var(--ifm-font-size-base);
  padding: 0.5rem;
  width: 100%;
  background: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  margin-bottom: 1rem;
}

.searchResultItem {
  padding: 1rem 0px;
  border-bottom: 1px solid rgb(223, 227, 232);
}

.searchResultItem > h2 {
  margin-bottom: 0;
}

.searchResultItemPath {
  color: var(--ifm-color-content-secondary);
  font-size: 0.8rem;
  margin: 0.5rem 0px 0px;
}

.searchResultItemSummary {
  font-style: italic;
  margin: 0.5rem 0px 0px;
}
