.searchQueryInput {
  border-radius: var(--ifm-global-radius);
  border: var(--ifm-global-border-width) solid
    var(--ifm-color-content-secondary);
  font-size: var(--ifm-font-size-base);
  padding: 0.5rem;
  width: 100%;
  background: #fff;
  margin-bottom: 1rem;
}

.searchResultItem {
  padding: 1rem 0px;
  border-bottom: 1px solid rgb(223, 227, 232);
}

.searchResultItem > h2 {
  margin-bottom: 0;
}

.searchResultItemPath {
  color: var(--ifm-color-content-secondary);
  font-size: 0.8rem;
  margin: 0.5rem 0px 0px;
}

.searchResultItemSummary {
  font-style: italic;
  margin: 0.5rem 0px 0px;
}

/* Start: pure CSS loaders */
/* https://loading.io/css/ */
.ldsRing {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: var(--search-local-loading-icon-opacity, 0.5);
}

.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid
    var(--search-load-loading-icon-color, var(--ifm-navbar-search-input-color));
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(
      --search-load-loading-icon-color,
      var(--ifm-navbar-search-input-color)
    )
    transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}

.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}

.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End: pure CSS loaders */
