on:
  push:
    branches:
      - master
name: release-please
jobs:
  release-please:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.GH_TOKEN_EVE }}
          release-type: node
          package-name: "@easyops-cn/docusaurus-search-local"
          bump-minor-pre-major: true

      # The logic below handles the npm publication:
      - uses: actions/checkout@v3
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.release_created }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
        if: ${{ steps.release.outputs.release_created }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
        if: ${{ steps.release.outputs.release_created }}

      - uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
        if: ${{ steps.release.outputs.release_created }}

      - run: yarn install --immutable
        if: ${{ steps.release.outputs.release_created }}

      - run: yarn build:theme
        if: ${{ steps.release.outputs.release_created }}

      - run: yarn npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
